* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, #2af598 0%, #009efd 100%);
}

#standerd{
    font-size: 25px;
    padding-left: 25px;
    font-weight: bold;
    color: #1488cf;
}

#over{
    font-size: 20px;
    padding-left: 55px;
    font-weight: bold;
    color: #bd1313;
    margin-top: 20px;
}

/* stopwatch */
.box {
    margin: 100px auto 20px;
    background-color: #ffffff;
    width: 40%;
    max-width: 540px;
    min-width: 540px;
    padding: 20px 0;
    padding-bottom: 50px;
    border-radius: 10px;
}

.timerDisplay {
    position: relative;
    width: 92%;
    background: #ffffff;
    left: 4%;
    padding: 40px 0;
    color: #1488cf;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 139, 253, 0.25);
}

.overTime {
    display: flex;
    justify-content: space-around;
    left: 3px;
    /* margin-top: 30px; */

}

#term {
    text-align: center;
    display: inline-flex;
    align-items: center;
    position: relative;
    left: 40px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;

    font-size: 15px;
}

.overTimeDisplay {
    position: relative;
    width: 40%;
    background: #ffffff;
    left: 4%;
    color: #bd1313;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 139, 253, 0.25);
    padding: 10px 0;

}

#overtimeReset {
    padding: 5px 10px;
    background-color: #bd1313;

}

#stopWatchButtons {
    text-align: center;
    margin-top: 50px;
}

#pauseTimer {
    background-color: #02af61;
}

#startTimer {
    background-color: #2cc1f2;
}

/* stopWatch End */

/* todoList */

.container {
    width: 100%;
    min-height: 100vh;
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    min-width: 540px;
    background-color: #ffffff;
    margin: 0px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2 {
    color: #1488cf;
    align-items: center;
    margin-bottom: 20px;
    font-size: 30px;

}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #0f69a1;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 40px;
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

button:hover {
    opacity: 0.8;
}

button:active {
    -webkit-transform: translate(0, 2px);
    -moz-transform: translate(0, 2px);
    transform: translate(0, 2px);
    border-bottom: none;
}

ul li {
    list-style: none;
    font-size: 16px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(images/checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #edeef0;
}

/* todoList End */
